<footer>
    <div class="footer">
        <div class="footer_div">
            <div>
                <h3 class="footer_div-h3">Conheça a empresa</h3>
            </div>
            <div>
                <a class="footer_div-a" href=".">Sobre nós</a>
                <a class="footer_div-a" href=".">Comunidade</a>
                <a class="footer_div-a" href=".">Acessibilidade</a>
            </div>
        </div>
        <div class="footer_div">
            <div>
                <h3 class="footer_div-h3">Pagamento</h3>
            </div>
            <div>
                <a class="footer_div-a" href=".">Meios de pagamento</a>
                <a class="footer_div-a" href=".">Cartão de crédito</a>
            </div>
        </div>
        <div class="footer_div">
            <div>
                <h3 class="footer_div-h3">Deixe-nos ajudar você</h3>
            </div>
            <div>
                <a class="footer_div-a" href=".">Sua conta</a>
                <a class="footer_div-a" href=".">Frete e prazos de entrega</a>
                <a class="footer_div-a" href=".">Devoluções e reembolos</a>
                <a class="footer_div-a" href=".">Fale com nosso suporte</a>
            </div>
        </div>
    </div>
</footer>
