<header class="">
    <div class="header">
        <div class="header_div">
            <div  alt="" class="header_div-img"></div>
        </div>
        <div class="header_div">
            <div id="header_div_busca">
                <img class="header_div_busca-img" src="search3.png" alt=""/>
                <input type="text" class="header_div_busca-input" placeholder="Buscar..."/>
                <img src="../assets/img/logoBusca.png" alt="Buscar..." class="header_div_busca-button"/>
            </div>            
        </div>
        <div class="header_div">
            <div class="header_div_cep">
                <p href="." class="header_div_cep-p">Enviado para Luis em,</p>
                <a href="." class="header_div_cep-a">Uberlândia, xxxxx-xx</a>
            </div>
        </div>
        <div class="header_div">
            <a href="." class="header_div-login">Login/<br>Cadastre-se</a>
        </div>
        <div class="header_div">
            <div class="header_div_carrinho">
                <a href="." class="header_div_carrinho-a">Carrinho</a>
                <a href="." class="header_div_carrinho-a">
                    <img class="header_div_carrinho-img" src="../assets/img/logoCarrinho.png" alt="">
                </a>
            </div>
        </div>
        <div class="header_div">
            <div class="header_div_politicas">
                <a href="." class="header_div_politicas-a">Políticas <br> de Devolução</a>

            </div>
        </div>
    </div>
    <div class="header_categoria">
        
    </div>
</header>
