<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Página principal</title>
</head>
<body>
<%- include('header'); -%>
    <main class="main"> 
        <div class="body">
            <div class="body_destaques">
                <div class="body_destaques-cards destaques">
                    <div class="destaques_titulo">Destaques</div>
                    <div class="destaques_link">
                        <a class="destaques_link-a" href=".">Compre aqui</a>
                    </div>
                </div>
                <div class="body_destaques-cards">
                    <div class="body_destaques_titulo">Edições de Luxo</div>
                    <div class="body_destaques_link">
                        <a class="destaques_link-a" href=".">Compre aqui</a>
                    </div>
                </div>
                <div class="body_destaques-cards">
                    <div class="body_destaques_titulo">Box de Livros</div>
                    <div class="body_destaques_link">
                        <a class="destaques_link-a" href=".">Compre aqui</a>
                    </div>
                </div>
                <div class="body_destaques-cards">
                    <div class="body_destaques_titulo">Promoções</div>
                    <div class="body_destaques_link">
                        <a class="destaques_link-a" href=".">Compre aqui</a>
                    </div>
                </div>
                <div class="body_destaques-cards">
                    <div class="body_destaques_titulo">Ver mais</div>
                    <div class="body_destaques_link">
                        <a class="destaques_link-a" href=".">Compre aqui</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="guia">
            <div class="guia_div">
                <div class="guia_div_titulo">
                    <h3>Guia de Presentes</h3>
                </div>
                <div class="guia_div_conteudo">
                    <div class="guia_div_conteudo-div">
                        <a href="produto" class="guia_div_conteudo-a">De: 49,00R$<br>
                        <p>Por: 39,90R$ </p>
                        <p>(Saiba mais)</p>    
                        </a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 59,00R$<br> <p>Por: 49,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 52,40R$<br> <p>Por: 36,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 35,00R$<br> <p>Por: 24,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 79,90R$<br> <p>Por: 59,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 79,90R$<br> <p>Por: 39,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 149,00R$<br> <p>Por: 99,90R$ </p></a>
                    </div>
                    <div class="guia_div_conteudo-div">
                        <a href="." class="guia_div_conteudo-a">De: 99,00R$<br> <p>Por: 89,90R$ </p></a>
                    </div>
                </div>
            </div>
    </main>
<%- include('footer'); -%>
</body>
</html>