<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Página principal</title>
</head>
<body>
<%- include('header'); -%>
    <div class="div">
        <div class="produto">
            <div class="produto_div">
                <div class="produto_div_imagem">
                    <div alt="" class="produto_div_imagem-img"></div>
                </div>
                <div class="produto_div_descricao">
                    <h3 class="produto_div_descricao-h3">Revolução dos Bichos - George Orwell</h3>
                    <p class="produto_div_descricao-p">
                        Verdadeiro clássico moderno, concebido por um dos mais 
                        influentes escritores do século XX, A revolução dos bichos é uma fábula sobre o poder. 
                        Narra a insurreição dos animais de uma granja contra seus donos. Progressivamente, porém, .
                    </p>
                </div>
            </div>
            <div class="produto_div">
                <div class="produto_div_preco">
                    <div class="produto_div_preco-div">
                        <p class="produto_div_preco-p">De: 49,90</p>
                        <p class="produto_div_preco-p">Por: 39,99</p>
                        <a href="." class="produto_div_preco-a">Mais formas de pagamento</a>
                    </div>
                    <div class="produto_div_preco-div">
                        <input class="produto_div_preco-button" type="button" value="COMPRAR">
                    </div>
                </div>
                <div class="produto_div_preco">
                    <p class="produto_div_preco-frete">Calcule o Frete:</p>
                    <input class="produto_div_preco-input" type="number">
                </div>
                <div class="produto_div_preco">
                    <p class="produto_div_preco-enviado">Enviado por <b class="produto_div_preco-bookstore">BOOKSTORE</b></p>
                </div>
            </div>
        </div>
    </div>
<%- include('footer'); -%>
</body>
</html>
